<div class="form-group">
  <label for="name" class="col-sm-2 control-label">name</label>
  <div class="col-sm-10">
    <input type="text" ng-model="profile.name" class="form-control" id="name" placeholder="name"/>
  </div>
</div>
<div class="form-group">
  <label for="specialty" class="col-sm-2 control-label">specialty</label>
  <div class="col-sm-10">
    <input type="text" ng-model="profile.specialty" class="form-control" id="specialty" placeholder="specialty"/>
  </div>
</div>
<div class="form-group">
  <label for="director" class="col-sm-2 control-label">emailVerified</label>
  <div class="col-sm-10">
    <input type="text" ng-model="profile.emailVerified" class="form-control" id="emailVerified" placeholder="emailVerified"/>
  </div>
</div>
<div class="form-group">
  <label for="plot" class="col-sm-2 control-label">phoneVerified</label>
  <div class="col-sm-10">
    <input type="text" ng-model="profile.phoneVerified" class="form-control" id="phoneVerified" placeholder="phoneVerified"/>
  </div>
</div>
<div class="form-group">
  <label for="plot" class="col-sm-2 control-label">email</label>
  <div class="col-sm-10">
    <input type="text" ng-model="profile.email" class="form-control" id="email" placeholder="email"/>
  </div>
</div>
<div class="form-group">
  <label for="plot" class="col-sm-2 control-label">phone</label>
  <div class="col-sm-10">
    <input type="text" ng-model="profile.phone" class="form-control" id="phone" placeholder="phone"/>
  </div>
</div>
<div class="form-group">
  <label for="plot" class="col-sm-2 control-label">area</label>
  <div class="col-sm-10">
    <input type="text" ng-model="profile.area" class="form-control" id="area" placeholder="area"/>
  </div>
</div>
<div class="form-group">
  <label for="plot" class="col-sm-2 control-label">introduction</label>
  <div class="col-sm-10">
    <input type="text" ng-model="profile.introduction" class="form-control" id="introduction" placeholder="introduction"/>
  </div>
</div>
<div class="form-group">
  <div class="col-sm-offset-2 col-sm-10">
    <input type="submit" class="btn btn-primary" value="Save"/>
  </div>
</div>
